.hotel-loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.suitcase {
  width: 50px;
  height: 50px;
  background-color: #ffa500; /* Оранжевый цвет для чемодана */
  position: relative;
  border-radius: 5px;
  animation: bounce 1.5s infinite ease-in-out;
}

.suitcase::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 10px;
  width: 30px;
  height: 10px;
  background-color: #ffa500;
  border-radius: 3px;
}

.suitcase::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 15px;
  width: 20px;
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

p {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
